<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuexilema.blog.dao.mapper.ArticleMapper">


<!--    List<Archivs> listArchivs();-->
    <select id="listArchives" parameterType="list" resultType="com.xuexilema.blog.dao.dos.Archivs">
        select  FROM_UNIXTIME(create_date / 1000 ,'%Y') as year,FROM_UNIXTIME(create_date/1000,'%m') as month,count(*) as count
        from ms_article group by year,month     <!-- 注意时间戳的取值，要不然取出来是null   FROM_UNIXTIME(表中字段/1000,'%Y') as year-->
    </select>
</mapper>