<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuexilema.blog.dao.mapper.TagMapper">


<!--    List<Tag> findTagsByArticleId(Long articleId);-->
    <select id="findTagsByArticleId" parameterType="long" resultType="com.xuexilema.blog.dao.pojo.Tag">
        select id,avatar,tag_name as tagName from ms_tag
        where id in
              (select tag_id from ms_article_tag where article_id = #{articleid})
    </select>

<!--    List<Long> findHotsTagIds(int limit);-->
    <select id="findHotsTagIds" parameterType="int" resultType="java.lang.Long">
        select tag_id from ms_article_tag group by tag_id order by count(*) desc limit #{limit}
    </select>

<!--    List<Tag> findTagsByHotsTagIds(List<Long> hotsTagId);-->
    <select id="findTagsByHotsTagIds" parameterType="list" resultType="com.xuexilema.blog.dao.pojo.Tag">
        select id,tag_name as tagName from ms_tag
        where id in
        <foreach collection="hotsTagId" item="tagId" separator="," open="(" close=")">  <!-- collection中的hotsTagId要与前面类中的一致-->
            #{tagId}
        </foreach>
    </select>


</mapper>