<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuexilema.blog.admin.mapper.PermissionMapper">

<!--    List<Permission> findPermissionByAdminId(Long id);-->
    <select id="findPermissionByAdminId" parameterType="long" resultType="com.xuexilema.blog.admin.pojo.Permission">
        select * from ms_permission where id in (select permission_id from ms_admin_permission where admin_id=#{adminId})
    </select>
</mapper>